{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        Home Page - {{title}}
    {% else %}
        Home Page - APA Utils
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">APA Utils</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('upload') }}"><span class="glyphicon glyphicon-import"> Upload</a></li>
                    <li><a href="{{ url_for('files') }}"><span class="glyphicon glyphicon-list-alt"> Files</a></li>
                    <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-camera"> Scan Results</a></li>
                    <li><a href="{{ url_for('manage') }}"><span class="glyphicon glyphicon-edit"> Manager</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}


