{% extends "base.html" %}

{% block app_content %}

    <h3  class="text-muted" align="center"> Manage Match Rosters</h3>

    <form action="" method="post">
    {{ form.hidden_tag() }}

    <div class="row">
        <div class="col-sm-6">
            <div class="table-responsive">

            <table title="Home Team" class="table table-condensed">
                <tr>
                    <th colspan="5" align="center">Home team: {{homename}} -
                        <a title="Show available line ups" href="{{ url_for('lineups', roster='home')}}">available line ups </a>
                        [ {{ht_option_count}} ]
                    </th>
                </tr>
                <th>APA #</th>
                <th>SL</th>
                <th>Name</th>
                <th>Absent</th>
                <th>Played</th>
                {% for k, v in hometeam.items() %}
                    <tr {% if v['Option'] == 'Y' %}
                            class="success"
                        {% endif %}
                        {% if v['Absent'] == 'Y' %}
                            class="text-muted"
                        {% endif %} >
                        <td>{{k}}</td>
                        <td>{{v['SL']}}</td>
                        <td>{{v['Name']}}</td>
                        <td>
                            <div class="checkbox-inline">
                                <label></label>
                                <input type="checkbox" name="h_absent" value={{k}}
                                    {% if v['Absent'] == 'Y' %}
                                        checked
                                    {% endif %}
                                ></input>
                            </div>
                        </td>
                        <td>
                            <div class="checkbox-inline">
                                <label></label>
                                <input type="checkbox" name="h_played" value={{k}}
                                    {% if v['Played'] == 'Y' %}
                                        checked
                                    {% endif %}
                                ></input>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="table-responsive">

            <table title="Away Team" class="table table-condensed">

                <tr>
                    <th colspan="5" align="center">Away team: {{awayname}} -
                        <a title="Show available line ups" href="{{ url_for('lineups', roster='away')}}">available line ups </a>
                        [ {{at_option_count}} ]
                    </th>
                </tr>
                <th>APA #</th>
                <th>SL</th>
                <th>Name</th>
                <th>Absent</th>
                <th>Played</th>
                {% for k, v in awayteam.items() %}
                    <tr {% if v['Option'] == 'Y' %}
                            class="success"
                        {% endif %}
                        {% if v['Absent'] == 'Y' %}
                            class="text-muted"
                        {% endif %} >
                        <td>{{k}}</td>
                        <td>{{v['SL']}}</td>
                        <td>{{v['Name']}}</td>
                        <td>
                            <div class="checkbox-inline">
                                <label></label>
                                <input type="checkbox" name="h_absent" value={{k}}
                                    {% if v['Absent'] == 'Y' %}
                                        checked
                                    {% endif %}
                                ></input>
                            </div>
                        </td>
                        <td>
                            <div class="checkbox-inline">
                                <label></label>
                                <input type="checkbox" name="h_played" value={{k}}
                                    {% if v['Played'] == 'Y' %}
                                        checked
                                    {% endif %}
                                ></input>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
        <p>{{ form.submit(class_="btn btn-primary") }}</p>
    </form>

{% endblock %}

