{% extends "base.html" %}

{% block app_content %}

    <h1 class="text-muted" align="center"> APA Utils<br></h1>
    <h2  class="text-muted" align="center"> Manage Match Using Scanned Rosters</h2>

    <form action="" method="post">
    {{ form.hidden_tag() }}

        <div class="table-responsive">

            <table title="Teams" class="table">
                <tr>
                    <th colspan="4" align="center">Home team: {{homename}} - line ups available [ {{ht_options}} ]</th>
                </tr>
                <th>APA #</th>
                <th>SL</th>
                <th>Name</th>
                <th>Absent</th>
                <th>Played</th>
                {% for k, v in hometeam.items() %}
                    <tr>
                        <td>{{k}}</td>
                        <td>{{v['SL']}}</td>
                        <td>{{v['Name']}}</td>
                        <td>
                            <div class="checkbox-inline">
                              <label><input type="checkbox" name="h_absent" value={{k}}
                              {% if v['Absent'] == "Y" %}
                                  checked
                              {% endif %}
                              ></label>
                            </div>
                        </td>
                        <td>
                            <div class="checkbox-inline">
                              <label><input type="checkbox" name="h_played" value={{k}}
                              {% if v['Played'] == "Y" %}
                                  checked
                              {% endif %}
                              ></label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <th colspan="4" align="center">Away team: {{awayname}} - line ups available [ {{at_options}} ]</th>
                </tr>
                <th>APA #</th>
                <th>SL</th>
                <th>Name</th>
                <th>Absent</th>
                <th>Played</th>
                {% for k, v in awayteam.items() %}
                    <tr>
                        <td>{{k}}</td>
                        <td>{{v['SL']}}</td>
                        <td>{{v['Name']}}</td>
                        <td>
                            <div class="checkbox-inline">
                              <label><input type="checkbox" name="a_absent" value={{k}}
                              {% if v['Absent'] == "Y" %}
                                  checked
                              {% endif %}
                              ></label>
                            </div>
                        </td>
                        <td>
                            <div class="checkbox-inline">
                              <label><input type="checkbox" name="a_played" value={{k}}
                              {% if v['Played'] == "Y" %}
                                  checked
                              {% endif %}
                              ></label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>

        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}

