{% extends "base.html" %}

{% block app_content %}

    <h1 class="text-muted" align="center"> APA Utils<br></h1>
    <h2  class="text-muted" align="center"> Manage Match Rosters</h2>

    <form action="" method="post">
    {{ form.hidden_tag() }}

        <div class="table-responsive">

            <table title="Teams" class="table">
                <tr>
                    <th colspan="4" align="center">Home team: {{homename}} -
                        <a title="Show available line ups" href="{{ url_for('lineups', roster='home')}}">available line ups </a>
                        [ {{ht_option_count}} ]
                    </th>
                </tr>
                <th>APA #</th>
                <th>SL</th>
                <th>Name</th>
                <th>Absent</th>
                <th>Played</th>
                {% for k, v in hometeam.items() %}
                    <tr {% if v['Option'] == 'Y' %}
                            class="success"
                        {% endif %}
                        {% if v['Absent'] == 'Y' %}
                            class="text-muted"
                        {% endif %} >
                        <td>{{k}}</td>
                        <td>{{v['SL']}}</td>
                        <td>{{v['Name']}}</td>
                        <td>
                            <div class="checkbox-inline">
                              <label><input type="checkbox" name="h_absent" value={{k}}
                              {% if v['Absent'] == 'Y' %}
                                  checked
                              {% endif %}
                              ></label>
                            </div>
                        </td>
                        <td>
                            <div class="checkbox-inline">
                              <label><input type="checkbox" name="h_played" value={{k}}
                              {% if v['Played'] == 'Y' %}
                                  checked
                              {% endif %}
                              ></label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <th colspan="4" align="center">Away team: {{awayname}} -
                        <a title="Show available line ups" href="{{ url_for('lineups', roster='away')}}">available line ups </a>
                        [ {{at_option_count}} ]
                    </th>
                </tr>
                <th>APA #</th>
                <th>SL</th>
                <th>Name</th>
                <th>Absent</th>
                <th>Played</th>
                {% for k, v in awayteam.items() %}
                    <tr {% if v['Option'] == 'Y' %}
                            class="success"
                        {% endif %}
                        {% if v['Absent'] == 'Y' %}
                            class="text-muted"
                        {% endif %} >
                        <td>{{k}}</td>
                        <td>{{v['SL']}}</td>
                        <td>{{v['Name']}}</td>
                        <td>
                            <div class="checkbox-inline">
                              <label><input type="checkbox" name="a_absent" value={{k}}
                              {% if v['Absent'] == "Y" %}
                                  checked
                              {% endif %}
                              ></label>
                            </div>
                        </td>
                        <td>
                            <div class="checkbox-inline">
                              <label><input type="checkbox" name="a_played" value={{k}}
                              {% if v['Played'] == "Y" %}
                                  checked
                              {% endif %}
                              ></label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>

        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}

